body {
    font-family: 'Press Start 2P', cursive;
    background-color:pink;
    color:white;
}
h1, movieInfo{
    color: black;
}
p{
    color:red;
}
.container {
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
}

