body {
    font-family: 'Press Start 2P', cursive;
    background-color:pink;
    color:white;
}
h1{
    color: black;
}
span{
    font-family: 'Quantico', sans-serif;;
    color: black;
}
movies_List{
    color: red;

}
.container {
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
}

