body{
    text-align: center;
    background-color:gray;
}

.correct {
    color: green;
    font-size: 18pt;
}

.incorrect {
    color: blue;
    font-size: 18pt;
}

#elec, #gass{
    border-radius: 25px;
/*border: 2px solid #73AD21;*/
  padding: 20px; 
  width: 200px;
  height: 150px;
}

#theguess{
    color: orange;
    font-size: 80pt;
}

#headTitle{
    color: lightblue;
    font-size: 50pt;
}